<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>demo</title>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>
  <body>
      <table>
        <tr>
          <form action="/evaluation">
              <button type="submit" class="btn btn-primary">View Evaluation</button>
          </form>
        </tr>
        <tr>
          <form action="/evaluation_chart">
              <button type="submit" class="btn btn-primary">View evaluation chart</button>
          </form>
        </tr>
        <tr>
          <form action="/result_BBC">
              <button type="submit" class="btn btn-primary">View TRECVID result</button>
          </form>
        </tr>
        <tr>
          <form action="/result_175">
              <button type="submit" class="btn btn-primary">View result video175</button>
          </form>
        </tr>
        <tr>
          <form action="/demokltn">
              <button type="submit" class="btn btn-primary">Demo</button>
          </form>
        </tr>
        <tr>
          <form action="/AIC_hcm">
              <button type="submit" class="btn btn-primary">AIC_HCM</button>
          </form>
        </tr>
      </table>
      <br>
      <table>
          <tr>
            <th> TVSum50</th>
            <th>TRECVID_BBC_EastEnders </th>
          </tr>
          <tr>
            <th rowspan="4">
    	        <a target="_blank" href="/TVSum50" >
    	             <img src="TVSum50.png" height="632" width="620"  ></img>
    	        </a>
            </th>
          <tr>
            <th >
              <a href="/BBC_TRECVID">BBC_TRECVID</a>
              <br>
            	<a target="_blank" href="/TRECVID_BBC_EastEnders" >
            	<img src="BBC.jpg" height="288" width="620"  ></img>
            	</a>
            </th>
          </tr>
            <tr>
              <th >SumMe</th>
            </tr>
          <tr>
            <th >
            	<a target="_blank" href="/SumMe" >
            	<img src="SumMe.png" height="151" width="620"  ></img>
            	</a>
            </th>
          </tr>

      </table>
  </body>
</html>
