<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Human Fall Detection Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script>var content = '{{myDict}}';</script>
  <style>
    * {
      box-sizing: border-box;
    }
    
    .column {
      float: left;
      padding: 10px;
    }
    
    /* Clearfix (clear floats) */
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
    </style>

  </head>
  <body>
    <div class="navigator bar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <img src="static/images/logo_uit.png" width=100 height=auto>
      <h1 style="color: rgb(47, 107, 255);">Human Fall Detection</h1>
      
    </nav>
  </div>

<div class="container">
      <!-- action="#": redirect to the current page--> 
      <!-- method "POST": More securer method than "GET"--> 
      <div class="row">
        <div class="column">
          <p style="color: black; font-size: 40px;">Input</p>
          <video id="video_player" controls width="500" autoplay >
            <source src= "{{content['input']}}" type="video/mp4">
          </video>
        </div>

        <div class="column">
          <p style="color: cyan; font-size: 40px;">Output</p>
          <video id="processed_video" controls width="500" autoplay muted=TRUE>
            <source src="{{content['output']}}" type="video/webm">
          </video>    
        </div>
    </div>
            
  </div>
  </body>
</html>
